/*=============================================
=                   GENERAL                   =
=============================================*/
html {
   scroll-behavior: auto !important;
}

.navbar,
#works,
footer {
   background-color: #660066;
}

.navbar-brand,
h1,
#experience h3,
#works .card-title,
footer span {
   font-family: "Oswald", sans-serif;
}

#about,
#experience span,
#works .card-text,
#contact .container {
   font-family: "Open Sans", sans-serif;
}

#about,
#experience,
#contact .container {
   color: #373a3c;
}

/*=============================================
=                     NAV                     =
=============================================*/
.navbar-nav {
   font-family: "Helvetica Neue", sans-serif;
}

.floatingNav {
   box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
/*=============================================
=                HERO SECTION                 =
=============================================*/
#hero-section {
   background-image: url("../img/bg_hero.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
}

h1 {
   font-size: 4.5rem;
}

/*=============================================
=                 DESCRIPTION                 =
=============================================*/
hr:not([size]) {
   height: 2px;
   max-width: 115.5px;
}

.upper-text {
   letter-spacing: 0.5px;
   line-height: 50px;
}
.lower-text {
   letter-spacing: 0.16px;
   line-height: 40px;
}

/*=============================================
=                 EXPERIENCE                  =
=============================================*/
h2 {
   font-size: 3.25rem;
}
#experience .row {
   max-width: 80%;
}

#experience h3 {
   font-weight: 600;
}

i {
   color: #660066;
}

/*=============================================
=                   WORKS                     =
=============================================*/
#works .card-text {
   max-height: 3rem;
   overflow: hidden;
}

/*=============================================
=                  CONTACT                    =
=============================================*/
#contact .container {
   font-size: 1.5rem;
}
#contact .btn {
   color: #b6babc;
   background-color: #373a3c;
}

/*=============================================
=                   FOOTER                    =
=============================================*/
footer {
   height: 221px;
}

footer span {
   font-size: 2.5rem;
}
footer i {
   margin: 0 12px;
   font-size: 3.125rem;
}
/*=============================================
=                MEDIA QUERIES                =
=============================================*/
@media only screen and (max-width: 400px) {
   h1 {
      font-size: 2.5rem;
   }
   h2 {
      font-size: 2.2rem;
   }
   footer span {
      font-size: 1.875rem;
   }
   footer i {
      margin: 0 10px;
      font-size: 2.5rem;
   }
}
